/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


/* header */
#logo{
    width: 30%;
    height: 100px;
    float: left;
}

.section-top .content-social{
    width: 70%;
    height: 100px;
    float: left;
    border-left: 1px solid black;
}

header nav {
    height: 50px;
}







/* debug */
.debug .container{
    height: 1000px;
    background-color: red;
}

.debug header{
    background-color: green;
    border: 1px solid black;
}

.debug .section-top{
    border: 3px solid black;
    background-color: yellow;
}

.debug #logo{
    background-color: teal;
}

.debug .content-social{
    background-color: skyblue;
}

.debug nav{
    background-color: blue;
}