/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    margin: 40px auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

ul{
    list-style-type: none;
}


/* header */
.cont-logo{
    width: 25%;
    height: 100px;
    float: left;
}

#logo{
    height: 100%;
    vertical-align: middle;
    margin-right: 20px;
}

.text-logo{
    display: inline-block;
    font-size: 40px;
    font-weight: 900;
    vertical-align: middle;
}

.section-top .content-social{
    width: 75%;
    height: 100px;
    float: left;
    border-left: 1px solid #e5e5e5;
}

header nav {
    height: 50px;
    line-height: 50px;
}

.menu-top li{
    display: inline-block;
    margin-right: 10px;
}

.menu-top a{
    color: #838383;
    text-transform: uppercase;
    text-decoration: none;
}

/* main */
.content-arguments .cl-sx,
.content-arguments .cl-center,
.content-arguments .cl-dx{
    width: 30%;
    float: left;
}

.content-arguments .cl-center{
    margin: 0 5% 80px;
}






/* debug */
.debug .container{
    background-color: red;
}

.debug header{
    background-color: green;
    border: 1px solid black;
}

.debug .section-top{
    border: 3px solid black;
    background-color: yellow;
}

.debug .cont-logo{
    background-color: teal;
}

.debug .content-social{
    background-color: skyblue;
}

.debug nav{
    background-color: blue;
}

.debug .jumbotron{
    height: 400px;
    background-color:darkgray;
}

.debug .content{
    background-color: darksalmon;
}

.debug .heading{
    height: 150px;
    background-color: darkslategrey;
}

.debug .content-arguments{
    background-color: maroon;
    border: 3px solid black;
}

.debug .cl-sx,
.debug .cl-center,
.debug .cl-dx{
    height: 300px;
    background-color: orange;
}